html, body {
    margin: 0;
    padding: 0;
    border: none;
    height: 100%;
    width: 100%;
}

body {
    background-color: #ffffff;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.container {
    border-width: 0;
    overflow: hidden;
    padding: 0;
    display: none; /* hide panes until layout initializes */
}

.block {
    border: 1px dashed #BBB;
    padding: 5px 10px;
    font-weight: bold;
}

.border {
    border-width: 1px;
}

.center {
    text-align: center;
}

.rf-tb {
    height: 35px;
}

.rf-tb-itm input {
    vertical-align: middle;
}

div *.rf-tab-cnt {
    padding: 0;
}

.inner-layout-container {
    height: 100%;
}

.w1 {
    width: 40%;
}

.w2 {
    width: 30%;
}

.b {
    font-weight: bold;
}

.msg-summary {
    background-color: #cecece;
}

.rich-table-subheadercell
{
    white-space: normal !important;
}


.rich-table-sortable-header
{
    white-space: normal !important;
}

table {
    width: 100%;
}