html, body {
    margin: 0;
    padding: 0;
    border: none;
    height: 100%;
    width: 100%;
}

body {
    background-color: #ffffff;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.container {
    border-width: 0;
    overflow: hidden;
    padding: 0;
    display: none; /* hide panes until layout initializes */
}

.block {
    border: 1px dashed #BBB;
    padding: 5px 10px;
    font-weight: bold;
}

.border {
    border-width: 1px;
}

.inner-layout-container {
    height: 100%;
}

table {
    width: 100%;
}