html, body {
    margin: 0;
    padding: 0;
    border: none;
    height: 100%;
    width: 100%;
}

body {
    background-color: #ffffff;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.holder {
    width: auto;

    padding: 2px;
    margin: 2px;
    border:  1px dotted #cecece;

    overflow: auto;
    background-color: #ffffff;
}

.mainLeft {
    margin: 10px;
    border: 3px solid #ffffff;
    padding: 5px;
}

.mainTop {
    margin: 10px;
    border: 3px solid #ffffff;
    padding: 5px;
}

#secondarySplitter {
    padding: 1px;
    margin: 2px;
}

.secondaryTop {
    padding: 5px;
}

.secondaryBottom {
    padding: 5px;
}

.secondaryLeft {
    margin: 15px;
    padding: 5px;
}

.secondaryRight {
    margin: 7px;
    padding: 5px;
}

.splitterPane {
    background: #ffffff;
    overflow: auto;
}
.hsplitbar {
    height: 5px;
    background-color: #cecece;
    background-image: url(../img/hgrabber.gif);
    background-repeat: no-repeat;
    background-position: center;
}
.hsplitbar.active, .hsplitbar:hover {
    background-color: #656565;
    height: 5px;
}

.vsplitbar {
    width: 5px;
    background-color: #cecece;
    background-image: url(../img/vgrabber.gif);
    background-repeat: no-repeat;
    background-position: center;
}
.vsplitbar.active, .vsplitbar:hover {
    background-color: #656565;
    width: 5px;
}